In [7]:
import sys
sys.path.append('.')

In [11]:
import os
import glob
import json

In [17]:
import pandas as pd

In [10]:
with open('config.json', 'r') as f:
    config = json.load(f) 

input_folder_path = config['input_folder_path']
output_folder_path = config['output_folder_path']

In [49]:
ingested_f = open(os.path.join(output_folder_path, 'ingestedfiles.txt'), 'w')

full_df = pd.DataFrame()
for csv_f in glob.glob(pathname='practicedata/*.csv'):
    df = pd.read_csv(csv_f)
    full_df = pd.concat([full_df, df], axis=0, ignore_index=True)
    ingested_f.write(f'{csv_f}\n')
    
ingested_f.close()

full_df = full_df.drop_duplicates(ignore_index=True)
full_df.to_csv(os.path.join(output_folder_path, 'finaldata.csv'), index=False)

In [52]:
full_df

,corporation,lastmonth_activity,lastyear_activity,number_of_employees,exited
0,nciw,100,1359,1,0
1,lsid,68,282,14,0
2,pwls,71,949,40,1
3,bqlx,686,3782,103,0
4,zmei,45,655,7,0
5,wosl,0,18,21,1
6,xcvb,189,961,18,1
7,dfgh,16,1028,33,0
8,ngrd,9,45,1,1
9,xful,0,67,14,1
10,kshe,48,986,22,1
11,qqqq,52,650,11,1
12,corp,1090,2452,9,0
13,ekci,6,88,90,1
14,dosk,99,390,99,1
15,endi,75,800,81,1
16,gudj,255,1687,2,0
17,abcd,78,1024,12,1
18,asdf,14,2145,20,0
19,xyzz,182,3891,35,0
20,acme,101,10983,2,1
21,qwer,0,118,42,1
22,tyui,929,1992,1,0
23,zxcv,19,455,8,1
24,hjkl,94,868,3,1
25,lmno,81,1401,10,0

In [53]:
keep_cols = [
    'lastmonth_activity',
    'lastyear_activity',
    'number_of_employees'
]

In [54]:
full_df[keep_cols]

    lastmonth_activity  lastyear_activity  number_of_employees
0                  100               1359                    1
1                   68                282                   14
2                   71                949                   40
3                  686               3782                  103
4                   45                655                    7
5                    0                 18                   21
6                  189                961                   18
7                   16               1028                   33
8                    9                 45                    1
9                    0                 67                   14
10                  48                986                   22
11                  52                650                   11
12                1090               2452                    9
13                   6                 88                   90
14                  99                390                   99
15                  75                800                   81
16                 255               1687                    2
17                  78               1024                   12
18                  14               2145                   20
19                 182               3891                   35
20                 101              10983                    2
21                   0                118                   42
22                 929               1992                    1
23                  19                455                    8
24                  94                868                    3
25                  81               1401                   10

In [55]:
df = pd.read_csv(os.path.join(config['output_folder_path'], 'finaldata.csv'))

In [57]:
from training import process_data

In [58]:
X_full, y_full = process_data(df, label='exited', training=True)

In [63]:
X_full.dtypes

lastmonth_activity     int64
lastyear_activity      int64
number_of_employees    int64
dtype: object

In [64]:
y_full.unique()

array([0, 1])

In [65]:
y_full.dtypes

dtype('int64')